body {
  color: white;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
*{
font-family: 'Lato', sans-serif;
}