<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Unnamed Web Scraping App | Home</title>
</head>
<body>
    <h1>Welcome to Unnamed Web Scraping App</h1>
    <form method="POST">
        <h3>Enter the url of the site you want to scrape</h3>
        <input type="text" name="url">
        <h3>Enter the HTML tag or CSS selector of the kind of element you would like to scrape</h3>
        <input type="text" name="selector">
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>