{% extends "layout.html" %}
{% block title %}Unnamed Scraping App | Home{% endblock %}
{% block content %}
    <h1>Welcome to Scrapable</h1>
    <form action ="http://127.0.0.1:5000/results" method="GET">
        <h3>Enter the url of the site you want to scrape</h3>
        <input type="text" name="url">
        <h3>Enter the HTML tag or CSS selector of the kind of element you would like to scrape</h3>
        <input type="text" name="selector">
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
